#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

canvas {
  position: fixed;
  top: 0px;
  left: 0px;
}

.bag{
  border: 1px solid transparent;
  background: url("textures/paper.jpg");
  position: fixed;
  height: 600px;
  width: 600px;
  z-index: 100;
  top: 10px;
  right: 10px;
  display: none;
}

.pressSpace{
  position: fixed;
  display: none;;
  background: transparent;
  font-size: 20pt;
  color: white;
  bottom: 50px;
  left: 200px;

}

.bagimage{
  height: 200px;
  width: auto;
  border: 1px solid black;
}
.tutorial{
  border: 1px solid transparent;
  background: url("textures/paper.jpg");
  position: fixed;
  height: 300px;
  width: 600px;
  z-index: 100;
  top: 10px;
  left: 10px;
  display: block;
}
.tutlist{
  margin-left: 100px;
}